/build/
/.cproject
/.project
/texmaker
/compile/
/decker
/autom4te.cache/
/config.log
/config.status
/Makefile
/decker.exe
/texmaker.exe
/.settings
/distfiles/
/decker-cppcheck-build-dir/
/.vscode/
/fixbricks
/release
mergeintro.exe
setup.iss
tmp
include/version.h
lightwave/Objects/presentation/holiday-update-2022.lwo
lightwave/Scenes/making of
*.tmp
studio/*.ldr
lightwave/Dynamics/breakablewall.dynacache
debug.log
vplay.exe
controllertest
controllertest.exe
flashlighttracking.exe
